In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

import os

In [5]:
feature_file= os.path.abspath('features_org_stretch_pitch.csv')
feature_df = pd.read_csv(feature_file,index_col=False)

In [6]:
X = feature_df.iloc[: ,:-1].values
Y = feature_df['labels'].values
X,Y

(array([[3.00781250e-01, 7.06492245e-01, 7.56852806e-01, ...,
         5.37526876e-06, 2.27085820e-06, 1.64236539e-07],
        [1.77940538e-01, 6.66222930e-01, 7.39900291e-01, ...,
         2.70506325e-06, 1.08656866e-06, 9.83694051e-08],
        [1.84796369e-01, 6.50087893e-01, 7.05284417e-01, ...,
         2.49909181e-06, 8.49709522e-07, 4.75048587e-08],
        ...,
        [2.15621383e-01, 6.76596165e-01, 6.14103734e-01, ...,
         1.92967604e-03, 5.23758994e-04, 4.04801503e-05],
        [1.83311632e-01, 6.68179870e-01, 6.06806219e-01, ...,
         7.94242893e-04, 2.35575164e-04, 1.95215980e-05],
        [1.85998987e-01, 7.03913391e-01, 6.61699772e-01, ...,
         9.65747167e-04, 3.01387161e-04, 1.64965659e-05]]),
 array(['neutral', 'neutral', 'neutral', ..., 'surprised', 'surprised',
        'surprised'], dtype=object))

In [23]:
rs = 13

test_data_percentage = [.2,.25,.4,.5]

base_dir = os.path.abspath('Train_Test_Data_Splits')
base_filename = 'tts_'
extension = '.csv'

for per in test_data_percentage:
    x_train, x_test,y_train, y_test = train_test_split(X,
                                           Y,
                                           shuffle=True,
                                           test_size=per,
                                           random_state=rs)
    
    print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)
    
    train_df = pd.DataFrame(x_train)
    train_df['Y_train'] = y_train
    
    filename = base_filename+ 'train_' +str(round((1-per)*100))+"_"+str(round(per*100))+extension
    print(filename)
    train_df.to_csv(os.path.join(base_dir,filename))
    del filename
    
    test_df = pd.DataFrame(x_test)
    test_df['Y_test'] = y_test
    
    filename = base_filename+ 'test_' +str(round((1-per)*100))+"_"+str(round(per*100))+extension
    print(filename)
    test_df.to_csv(os.path.join(base_dir,filename))
    del filename
    
    del x_train
    del x_test
    del y_train
    del y_test

(3456, 162) (3456,) (864, 162) (864,)
tts_train_80_20.csv
tts_test_80_20.csv
(3240, 162) (3240,) (1080, 162) (1080,)
tts_train_75_25.csv
tts_test_75_25.csv
(2592, 162) (2592,) (1728, 162) (1728,)
tts_train_60_40.csv
tts_test_60_40.csv
(2160, 162) (2160,) (2160, 162) (2160,)
tts_train_50_50.csv
tts_test_50_50.csv

In [14]:
train_df.head(4)

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,Y_train
0,0.149450,0.726860,0.690823,0.656866,0.625396,0.565480,0.535072,0.640322,0.721850,0.660413,...,0.000049,0.000030,0.000022,0.000020,0.000046,0.000084,0.000071,0.000027,1.801579e-06,fearful
1,0.079129,0.658863,0.542796,0.548198,0.740292,0.751701,0.772359,0.737242,0.631344,0.605335,...,0.000004,0.000005,0.000004,0.000003,0.000006,0.000005,0.000004,0.000002,1.513678e-07,happy
2,0.158719,0.560336,0.495839,0.437336,0.490408,0.478582,0.567034,0.640348,0.594641,0.648482,...,0.000780,0.000632,0.000349,0.000264,0.000720,0.000798,0.000261,0.000052,3.340967e-06,disgust
3,0.196267,0.624769,0.595440,0.615850,0.668772,0.611349,0.588145,0.625214,0.590502,0.549978,...,0.000182,0.000292,0.000181,0.000195,0.000249,0.000143,0.000205,0.000054,5.301196e-06,surprised